apiVersion: apps/v1
kind: Deployment
metadata:
  name: astro-blog
  annotations:
    keel.sh/policy: all
    keel.sh/trigger: poll
    keel.sh/pollSchedule: "@every 1h"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: astro-blog
  template:
    metadata:
      labels:
        app: astro-blog
      annotations:
        date/deploy-date: "{{ now | date('20060102150405') }}"
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: cloud.google.com/gke-spot
                operator: In
                values:
                - "true"
      tolerations:
      - key: "cloud.google.com/gke-spot"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
      nodeSelector:
        cloud.google.com/gke-spot: "true"
      imagePullSecrets:
      - name: gcr-json-key
      containers:
      - name: astro-blog
        image: gcr.io/neural-diwan-435305/astro-blog:v1.0.0
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        - containerPort: 8080
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi